/* put any app-specific style rules here */

<<<<<<< HEAD

.sex-m{
    background: deepskyblue;
}

.sex-f{
    background-color: pink;
}

th{
=======
.sex-m {
    background-color: lightskyblue;
}

.sex-f {
    background-color: pink;
}

th {
>>>>>>> 5531321fa54c1ecf8d7b4b81623f5a75f1382d7d
    cursor: pointer;
}